.header-desk{
  box-shadow: 0px 4px 6px 0px #00000014;
  .header-container{
    display: flex;
    justify-content: space-between;
    max-width: 1920px;
    margin: auto;
    padding: 0 160px;
    height: 88px;
    .logo {
      margin: auto 0;
    }

    .search{
      width: 50%;
      height: 40px;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      margin: auto;
      input{
        height: 40px;
        border-radius: 10px;
        border: none;
        background-color: var(--color-neutral-3);
        width: 83.333333%;
        padding-left: 24px;
        font-size: 14px;
      }
      
      button{
        background-color: var(--button);
        color: #fff;
        border-radius: 8px;
        border: none;
        width: 16.666667%;
        margin: 0 -20px;
      }
    }
  }

  .menu-nav{
    margin: auto 0;
    ul{
      display: flex;
      align-items: center;
      gap: 40px;
      li{
        display: flex;
        align-items: center;
        gap: 8px;
        .cart{
          border: 1px solid var(--button);
          border-radius: 8px;
          padding: 16px;
        }
        p{
          font-size: 14px;
        }
      }
    }
  }
}

.menu-container{
  margin: auto;
  max-width: 1600px;
  height: 40px;
  padding: 10px 0;

  ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
    padding: 0 80px;
    li{
      display: flex;
      align-items: center;
      gap: 8px;
      p{
        font-size: 14px;
      }
      .news{
        color: var(--button);
        font-weight: 700;
      }
    }
  }
}