*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--color-neutral-1);
}

:root {
  --button: #faa500;
  --color-neutral-0: #000;
  --color-neutral-1: #353535;
  --color-neutral-2: #fafafa;
  --color-neutral-3: #efefef;
}

.body-content {
  max-width: 1600px;
  @media (max-width: 1919px) {
    padding: 0 60px;
  }
}

input:focus,
textarea:focus {
  outline: none;
  border-color: var(--color);
  background: white;
  box-shadow: 0 0 0 3px var(--color-light);
}

button:hover,
button:focus {
  background: var(--color);
  box-shadow: 0 0 0 3px var(--color-light), 0 0 0 4px var(--color);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 3px var(--color), 0 0 0 4px var(--color);
}

button:disabled {
  opacity: 0.5;
  cursor: wait;
}
