.brands-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

.brands-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 80px;
  img {
    width: 100%;
    display: block;
    margin: auto;
    height: auto;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      margin-bottom: 0;
    }
  }
  @media (max-width: 768px) {
    margin-bottom: 50px;
  }
}
